<% layout("/layouts/boilerplate") %>
<body>
  <style>
    .Box {
      margin-top: 5px;
      background: rgba(244, 243, 243, 0.951);
      padding: 1rem;
      border-radius: 20px;
      width: 350px;
      height: 200px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-left: auto;
      margin-right: auto;
    }
    .box{
      margin-top: 5px;
      background: rgba(244, 243, 243, 0.951);
      padding: 1rem;
      border-radius: 10px;
      width: 900px;
      height: 450px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-left: auto;
      margin-right: auto;
    }
  </style>
  <script>
     const mapToken ="<%= process.env.MAP_TOKEN_KEY %>";
     const listing = <%- JSON.stringify(listing) %>;
  </script>
  <div class="row">
    <div class="col-8 offset-2">
      <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-2 show-card listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text"><b> Owned By <%= listing.owner.username %></b></p>
        <p class="card-text"><%= listing.description %></p>
        <p class="card-text">
          &#8377;<%= listing.price.toLocaleString("en-IN")%>
        </p>
        <p class="card-text"><%= listing.country %></p>
        <p class="card-text"><%= listing.location %></p>
      </div>
    </div>
    <br />
    <% if(currentUser && currentUser._id.equals(listing.owner._id)){ %>
    <div class="btns col-6 offset-2">
      <a href="/listings/<%= listing._id %>/edit"
        ><button class="btn btn-dark add-btn">edit</button></a
      >

      <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
        <button class="btn btn-dark offset-5">delete</button>
      </form>
    </div>
    <% } %>
    <div class="col-8 offset-2 mb-3">
      <% if(currentUser){ %>
        <br>
        <div class="box">
      <h4>Leave a Review</h4>
      <form
        action="/listings/<%= listing.id %>/reviews"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot ">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
            
          />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comment</label>
          <textarea
            name="review[comment]"
            id="comment"
            cols="30"
            rows="5"
            style="border-radius: 10px;"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">please submit feedback</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      </div>
      <br>
      <% } %>
      <% if(listing.reviews.length >0) { %>
      <div class="row">
        <p><b>All Reviews</b></p>
        <hr>
        <% for(review of listing.reviews){ %>
        <div class="card col-5 ms-3 mb-3 Box">
          <div class="caed-body">
            <h6 class="card-title" style="margin-top: 5px;">@<%= review.author.username %></h6>
            <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
            <p class="card-text"><%= review.comment %></p>
          </div>
          <form
            class="mb-3"
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-dark" style="margin-top: 8px; border-radius: 10px;">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
      <div class="col-8 offset-2 mb-3">
        <h3>where you'll be</h3>
        <div id="map"></div>
      </div>
  </div>
  <script src="/JS/map.js"></script>
</body>
